{% extends 'base.html' %}
{% block content %}
<h1 class="text-3xl font-bold text-center text-blue-500">Welcome to Our Blog</h1>
<div>
    {% for post in posts %}
    <div>
        <h2>{{post.title}}</h2>
        <p>{{post.content|truncatewords:10}}</p>
        <a href="{% url 'blog' post.id %}" style="color: blue;">Read More...</a>
        <br>
        <br>
        <hr>
        </div>
    {%empty%}
        <p>np posts available.</p>
    {% endfor %}
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <div style="max-width: 700px; text-align: center; background-color: black; padding: 20px; color: white; border-radius: 10px;">
        <h2 style="font-size: 24px;">Want to share your thoughts?</h2>
        <p style="font-size: 16px;">Click below to write and post your blog.</p>
        <a href="{% url 'postblog' %}" 
           style="display: inline-block; background-color: red; color: white; padding: 10px 20px; 
                  font-size: 18px; text-decoration: none; border-radius: 5px; font-weight: bold;">
            Post Your Blog
        </a>
    </div>
</div>

{% endblock %}